@use "./vars" as *;
.tag {
  display: flex;
  &__icon {
    width: 3rem;
    font-size: 3rem;
    line-height: 3rem;
    &::before {
      background: $grad-purple;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__text {
    margin-left: 0.625rem;
  }
  &__label {
    font-weight: bold;
    color: $dark-75;
    text-transform: capitalize;
  }
}
.tag-list {
  &__item {
    padding-top: 1.25rem;
    padding-bottom: 1.0625rem; //17px...
    & + .tag-list__item {
      border-top: 1px solid $dark-10;
    }
  }
}
