//- include ../inputs.pug
include ../rates/rates.pug
include ../compound-heading/compound-heading.pug

mixin cardRoom({roomInfo = { number: "888", type: true, price: "8500", nReviews: "145", img: "room-0.jpg"} } = {})
  - if (!roomInfo) roomInfo =  {number: "888", type: true, price: "8500", nReviews: "145", img: "room-0.jpg"};
  - var id = attributes.id || "room-888"
  .room-card
    div
      img(src=require("rooms/"+ roomInfo.img)).room-card__cover
      div.room-card__content
        +compoundHeading(roomInfo).room-card__heading
        ul.room-card__divider
        ul.room-card__reviews
          li.room-card__rates
            +rates()
          li
            //- поменять цвет текста тут
            p.room-card__reviews-count #[strong #{roomInfo.nReviews}] Отзывов

