mixin pagination()
  .pagination(class!=attributes.class)
    //-ul?
    .pagination__buttons
      .pagination__element
        //- well, do I really need this?
        +button({label: "1"})
      .pagination__element
        p.pagination__label 2
      .pagination__element
        p.pagination__label 3
      .pagination__element
        p.pagination__label ...
      .pagination__element
        p.pagination__label 15
      .pagination__element
        +button({styles: ["with-arrow", "green"]})
    p.pagination__caption 1 – 12 из 100+ вариантов аренды