@import "./vars.scss";

.pagination {
  max-width: 15rem;
  display: block;
  &__buttons {
    display: flex;
  }
  &__element {
    width: 40px;
    height: 40px;
  }
  &__caption {
    text-align: center;
    margin-top: 10px;
  }
  &__label {
    color: $dark-50;
    margin: auto;
    padding: 8px;
    text-align: center;
  }
}
