@use "./vars.scss" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 22px;
  background: $grad-purple;
  font: inherit;
  color: #fff;
  &:enabled:hover {
    color: #000;
  }
  &:disabled {
    opacity: 0.5;
  }
  &__label {
    color: inherit;
  }
  &_green {
    background: $grad-green;
  }
  &_outlined {
    color: $purple;
    background: rgba(0, 0, 0, 0);
    border: 2px solid transparent;
    background: linear-gradient(white, white), $grad-purple;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  &_text {
    background: none;
    color: $purple;
    padding: 0;
    height: 15px;
    width: auto;
    &:disabled {
      color: $dark;
      opacity: 0.5;
    }
  }
  &_with-arrow {
    position: relative;
    //maybe it should be in relative units
    &::after {
      font-family: "Material Icons";
      content: "arrow_forward";
      position: absolute;
      font-size: 24px;
      line-height: 24px;
      right: 8px;
    }
  }
  // idk if it will ever be used
  &_hidden {
    visibility: hidden;
  }
}
