.checkbox-group {
  display: flex;
  flex-direction: column;
  &__name {
    margin-bottom: 16px;
  }
  &__row {
    margin-bottom: 10px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    appearance: none;
    border: 1px solid $dark-50;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    border-radius: 4px;
    position: relative;
    &:checked {
      border-color: $purple;
      & + .checkbox-group__icon {
        visibility: visible;
      }
    }

    & + .checkbox-group__icon {
      visibility: hidden;
      position: absolute;
      padding-top: 4px;
      padding-left: 5px;
    }
  }
  &__rich {
    width: 100%;
  }
  &__label {
    padding: 0 10px;
    display: block;
    max-width: 192px;
    font-size: 14px;
    line-height: 18px;
    &_rich {
      max-width: 100%;
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
      color: $dark-75;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
  }
  &__description {
    max-width: 100%;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    font-weight: normal;
  }
  &__icon {
    position: absolute;
  }
}
