@use "vars" as *;
.account {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 405px;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: $breakpoint-desktop) {
    min-height: 684px;
    max-height: 684px;
  }
  &__card {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    & > * {
      flex: 1;
    }
  }
}
