@use "./vars.scss" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 1.375rem;
  background: $grad-purple;
  font: inherit;
  color: #fff;
  padding: 0 1.25rem;
  position: relative;
  &:enabled:hover {
    color: #000;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    // background: $grad-purple;
    background: $grad-purple;
    background-origin: border-box;
    background-clip: initial;
  }
  &__label {
    position: relative;
    z-index: 1;
    color: inherit;
    padding-bottom: 0;
  }
  &_green {
    background: $grad-green;
  }
  &_outlined {
    color: $purple;
    border: 2px solid transparent;
    background: linear-gradient(transparent, transparent), $grad-purple;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  &_text {
    background: none;
    color: $purple;
    padding: 0;
    height: 0.9375rem;
    width: auto;
    &:disabled {
      color: $dark;
      opacity: 0.5;
    }
  }
  &_with-arrow {
    position: relative;
    &::after {
      font-family: "Material Icons";
      content: "arrow_forward";
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.5rem;
      right: 0.5rem;
    }
  }
  // idk if it will ever be used
  &_hidden {
    visibility: hidden;
  }
}
