//- pass content and type in the constructor or whatever 
mixin button(label, state, ...classes)
  - type = classes.map(x => x !== "disabled" ? "button_" + x : "")
    button(class=["button"], class=type, disabled=state)
      .button__label=label