@import "./vars.scss";

.button {
  appearance: none;
  display: flex;
  width: 100%;
  border: none;
  border-radius: 22px;
  text-transform: uppercase;
  height: 44px;
  background: $grad-purple;
  justify-content: center;
  align-items: center;
  color: #fff;
  @include setFont(#fff, 12px, 15px, bold, uppercase);
  &:hover {
    color: #000;
  }
  &_outlined {
    color: $purple;
    background: rgba(0, 0, 0, 0);
    border: 2px solid transparent;
    background: linear-gradient(white, white), $grad-purple;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  &_text {
    background: none;
    color: $purple;
    padding: 0;
    height: 15px;
    &:disabled {
      color: $dark;
      opacity: 0.5;
    }
  }
  &_with-arrow {
    position: relative;
    &::after {
      font-family: "Material Icons";
      content: "arrow_forward";
      position: absolute;
    }
  }
}
