doctype html
html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")
  body
  .ui-kit-elements
    //- .ui-kit-elements__header-footer
    //-   include ../components/header/header.pug
    //-   include ../components/footer/footer.pug

  include ../../components/input/input.pug
  include ../../components/pagination/pagination.pug
  include ../../components/card/card.pug
  //- .ui-kit-elements__cards
  //-   .ui-kit-elements__cards-col
  //-     +searchCard
  //-     //- +registrationCard
  //-   .ui-kit-elements__cards-col
  //-     //- +detailsCard
  //-     //- +loginCard
  //-   .ui-kit-elements__cards-col
  //-     //- +searchCard
  //-     //- +roomCard
  //-     //- +roomCard

  //- id, type, label, placeholder, ...classes

include ./variables.pug
  .ui
    .ui__form-elements.elements
      .elements__column
        include ./fields/fields.pug
      .elements__column
        .elements__element.elements__element_wide
          +checkboxGroup("Checkbox Buttons", 
            ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], 
            ["smoking_allowed", "pets_allowed", "guests_allowed"], 
            true)
        .elements__element.elements__element_narrow
          +radioGroup("Radio Buttons", 
            ["Мужчина", "Женщина"],
            ["male", "female"], 
            "gender", 
              true)
        .elements__element.elements__element_narrow
          +toggleGroup("Toggle", 
            ["Получать спецпредложения", "Получать спецпредложения"],
            ["receive_special", "not_receive_special"], 
            true)
        .elements__element.elements__element_narrow
          .controls-label.form-elements__elements-label like button
          +likes("like button", "like-1", false, 2)
          +likes("like button", "like-12", false, 12)
        .elements__element.elements__element_narrow
          .controls-label rate button
          +rates("rate button")

      .elements__column
        .elements__element
          .controls-label range slider
          div slider
        .elements__element
          div(class="controls-label form-elements__buttons_top") buttons
          .form-elements__buttons
            +button("CLICK ME", false)
            +button("CLICK ME", true)
            +button("CLICK ME", false ,"outlined")
            +button("CLICK ME", true,"outlined")
            +button("CLICK ME", false,"text")
            +button("CLICK ME", true,"text")
          .form-elements__buttons_big
            +button("перейти к оплате", false, "with-arrow")
        .elements__element
          .controls-label pagination
          +pagination()

    .ui__form-elements.elements
      .elements__row
        .elements__column
          .elements__element.elements__element_narrow.expanded-dropdown
            +dropdown("","","Dropdown", "2 спальни, 2 кровати...")
            +dropdown("","","Dropdown", "2 спальни, 2 кровати...", items, "expanded", false)
        .elements__wide-block
          .elements__element.elements__element_wide.dropdown_clearable
            +dropdown("","","Dropdown", "2 спальни, 2 кровати...", guestsEmpty, "expanded", true)
          .elements__element.elements__element_wide.dropdown_clearable
            +dropdown("","","Dropdown", "2 спальни, 2 кровати...", guests, "expanded", true)
      .elements__row
        .elements__column
          .elements__element.elements__element_narrow.expandable-checkbox
            +expandableCheckbox("expandable checkbox list", 
              ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"],
              [12,22,32,42,52,62])
            +expandableCheckbox("expandable checkbox list", 
              ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"],
              [13,23,33,43,53,63], false)
        .elements__wide-block
          .elements__element.elements__element_narrow
            +richCheckbox("rich checkbox buttons", descriptions, ["i", "o"], true)
          .elements__element.elements__element_narrow
            div bullet list
      .elements__row
        .elements__column
          .elements__element.elements__element_wide
            div tags
        .elements__wide-block
          div comment
