doctype html
html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")
  body

main 
  section.ui 
    include ./pages/headers-footers.pug
  section.ui
    include ./pages/cards.pug

  section.ui.ui_with-bg
    include ./pages/forms.pug