doctype html
html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")
  body

//- include /components/calendar/calendar.pug
//- include /components/rates/rates.pug
//- main
//-   //- +rates
//-   //- +calendar({addInput: false  })
//-   section.ui.ui_without-padding
//-     //- include ./pages/headers-footers.pug
//-   section.ui
//-     include ./pages/cards.pug

//-   section.ui.ui_with-bg
//-     //- include ./pages/forms.pug