doctype html
html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")
  body
  .ui-kit-elements
    //- .ui-kit-elements__header-footer
    //-   include ../components/header/header.pug
    //-   include ../components/footer/footer.pug

  include ../../components/input/input.pug
  include ../../components/pagination/pagination.pug
  include ../../components/card/card.pug
  include ../../components/lists/lists.pug
  //- .ui-kit-elements__cards
  //-   .ui-kit-elements__cards-col
  //-     +searchCard
  //-     //- +registrationCard
  //-   .ui-kit-elements__cards-col
  //-     //- +detailsCard
  //-     //- +loginCard
  //-   .ui-kit-elements__cards-col
  //-     //- +searchCard
  //-     //- +roomCard
  //-     //- +roomCard

  //- id, type, label, placeholder, ...classes

include ./variables.pug
  .ui
    .ui__form-elements.elements
      include ./fields/fields.pug
    .ui__form-elements.elements
      .elements__row
        .elements__column
          .elements__element.elements__element_narrow.expanded-dropdown
            +dropdown("","","Dropdown", "2 спальни, 2 кровати...")
            +dropdown("","","Dropdown", "2 спальни, 2 кровати...", items, "expanded", false)
        .elements__wide-block
          .elements__element.elements__element_wide.dropdown_clearable
            +dropdown("","","Dropdown", "2 спальни, 2 кровати...", guestsEmpty, "expanded", true)
          .elements__element.elements__element_wide.dropdown_clearable
            +dropdown("","","Dropdown", "2 спальни, 2 кровати...", guests, "expanded", true)
      .elements__row
        .elements__column
          .elements__element.elements__element_narrow.expandable-checkbox
            +expandableCheckbox("expandable checkbox list", 
              expCheckboxItems,
              [12,22,32,42,52,62])
            +expandableCheckbox("expandable checkbox list", 
              expCheckboxItems,
              [13,23,33,43,53,63], false)
        .elements__wide-block
          .elements__element.elements__element_wide
            +richCheckbox("rich checkbox buttons", descriptions, ["i", "o"], true)
          .elements__element.elements__element_narrow.element-bullet-list
            +bulletList(bulletList)
      .elements__row
        .elements__column
          .elements__element.elements__element_wide
            +tagList(tagList)
        .elements__wide-block
          div comment
