doctype html
html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")
  body
  .ui-kit-elements
    //- .ui-kit-elements__header-footer
    //-   include ../components/header/header.pug
    //-   include ../components/footer/footer.pug

  include ../../components/input/input.pug
  include ../../components/pagination/pagination.pug
  include ../../components/card/card.pug
  //- .ui-kit-elements__cards
  //-   .ui-kit-elements__cards-col
  //-     +searchCard
  //-     //- +registrationCard
  //-   .ui-kit-elements__cards-col
  //-     //- +detailsCard
  //-     //- +loginCard
  //-   .ui-kit-elements__cards-col
  //-     //- +searchCard
  //-     //- +roomCard
  //-     //- +roomCard

  //- id, type, label, placeholder, ...classes
  .ui-bg
    .form-elements
      include ./fields/fields.pug

      div(class="form-elements__column form-elements__controls")
        +checkboxGroup("Checkbox Buttons", 
          ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], 
          ["smoking_allowed", "pets_allowed", "guests_allowed"], 
          true)
        +radioGroup("Radio Buttons", 
          ["Мужчина", "Женщина"],
          ["male", "female"], 
          "gender", 
            true)
        +toggleGroup("Toggle", 
          ["Получать спецпредложения", "Получать спецпредложения"],
          ["receive_special", "not_receive_special"], 
          true)
        .form-elements__likes
          .controls-label like button
          +likes("like button", "like-1", false, 2)
          +likes("like button", "like-12", false, 12)
        .form-elements__rates
          .controls-label rate button
          +rates("rate button")

      .form-elements__column
        .form-elements__range 
          .controls-label range slider
          div slider
        .form-elements__button-block
          div(class="controls-label form-elements__buttons_top") buttons
          .form-elements__buttons
            +button("CLICK ME", false)
            +button("CLICK ME", true)
            +button("CLICK ME", false ,"outlined")
            +button("CLICK ME", true,"outlined")
            +button("CLICK ME", false,"text")
            +button("CLICK ME", true,"text")
          .form-elements__buttons_big
            +button("перейти к оплате", false, "with-arrow")
        .form-elements__pagination
          .controls-label pagination
          +pagination()

      .expanded-elements
        .expanded-elements__dropdowns
          +dropdown("","","Dropdown", "2 спальни, 2 кровати...")
        -  let items = [
        -  {
        -    name: "Спальни",
        -    value: 2
        -  },
        -  {
        -    name: "Кровати",
        -    value: 2
        -  },
        -  {
        -    name: "Ванные комнаты",
        -    value: 0
        -  },]
          +dropdown("","","Dropdown", "2 спальни, 2 кровати...", items, "expanded")
      .form-elements__column
      .form-elements__column