.ui {
  padding-left: 60px;
  padding-bottom: 8.75rem;
  padding-top: 9.375rem;
  &_with-bg {
    padding-top: 8.75rem;
    background-color: white;
  }

  &_without-padding {
    padding-left: 0;
  }
}

// @import "./fields/fields.scss";
// //плохой костыль
// .controls-label {
//   width: 100%;
//   grid-column: span 2;
// }
@import "./pages/cards.scss";
@import "./pages/forms.scss";
@import "./pages/headers-footers.scss";
