//used only in ui-kit
@use "./fields/fields.scss";

.ui-kit-elements {
  > * {
    margin-top: 140px;
  }
  &__header-footer > * {
    margin: 50px 0px;
  }
  &__cards {
    margin-top: 110px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 380px 380px 380px;
    gap: 40px;
    &-col > * {
      margin-bottom: 40px;
    }
  }
  &__cards > * {
    margin: 40px;
  }
}
.ui-bg {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.form-elements {
  display: grid;
  padding: 140px;
  grid-template-columns: 320px 268px 320px;
  grid-template-rows: repeat(2, 1fr);
  gap: 105px 126px;

  &__controls > * {
    margin-bottom: 40px;
  }
  &__likes {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    gap: 10px;
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 99px);
    grid-template-rows: repeat(3, 44px);
    gap: 30px 20px;
    &_top {
      margin-bottom: 11px;
    }
    &_big {
      grid-column: span 2;
      height: 44px;
    }
  }
  &__range {
    height: 53px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    & > * {
      margin-bottom: 40px;
    }
  }
  &__elements-label {
    width: 100%;
    grid-column: span 3;
  }
}
.expanded-elements {
  display: grid;
  gap: 126px;
  grid-template-columns: 320px 320px 320px;
  &__dropdowns > * {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: calc(20px + 180px);
    }
  }
}

// //плохой костыль
// .controls-label {
//   width: 100%;
//   grid-column: span 2;
// }
