-  let items = [
-  {name: "Спальни", value: 2},
-  {name: "Кровати", value: 2},
-  {name: "Ванные комнаты", value: 0}]

-  let guestsEmpty = [
-  {name: "Взрослые",value: 0},
-  {name: "Дети", value: 0},
-  {name: "Младенцы",value: 0}]

-  let guests = [
-  {name: "Взрослые", value: 2  },
-  {name: "Дети", value: 1},
-  {name: "Младенцы", value: 0}]

-  let descriptions = [
-  {label: "широкий коридор", desc: "Ширина коридоров в номере не менее 91 см."},
-  {label: "помощник для инвалидов", desc: "На 1 этаже вас встретит специалист  и проводит до номера."}]