@use "vars" as *;

.room-info {
  display: flex;
  justify-content: space-between;
  &__number {
    line-height: 1.5rem;
  }
  &__no {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
  &__type {
    @include h3($purple, bold);
  }
  &__price {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: bold;
    color: $dark-50;
    // @include h3($dark-25);
  }
  &__per-day {
    @include h3($dark-25, normal, none);
    // font-size: 12px;
  }
}
