//- used in details-card & room-card

mixin compound-heading()
  h1.room-info__number.
    <span class="room-info__no">№&nbsp;</span>
    #{888}
    <span class="room-info__type">люкс</span>
  span.room-info__price 9 990Р <span class="room-info__per-day">в сутки</span>