.fields
  .elements__element.elements__element_wide
    +text("","","text field", "Email")
    +text("", "", "text field", "This is pretty awesome")
    +dropdown("", "", "dropdown", "Сколько гостей")
    +text("", "", "masked text field", "ДД.ММ.ГГГГ")
  .elements__element.elements__element_wide
    +dropdown("","","date Dropdown","ДД.ММ.ГГГГ")
    +dropdown("","","date Dropdown","19.08.2019")
  .elements__element.elements__element_narrow
    +dropdown("","","filter date dropdown","19 авг - 23 авг")
  .elements__element.elements__element_narrow
    +text("", "", "subscription text field", "Email")