include ./text/text.pug
include ./dropdown/dropdown.pug
include ./radio/radio.pug
include ./checkbox/checkbox.pug
include ./toggle/toggle.pug
include ./like/like.pug
include ./rates/rates.pug
include ./button/button.pug




mixin rates(name, amount, labels)
  .none
