@use "vars" as *;
//default styles are on top
//more specific are imported at the eof
.controls-label {
  font-family: "Montserrat";
  display: block;
  color: $dark;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.rounded-rectangle {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid $dark-25;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 1.25rem;
  display: block;
  margin: 0;
  border-radius: 10px;
  position: relative;
  &:checked {
    border: 1px solid $purple;
  }
}
input {
  appearance: none;
  box-sizing: border-box;
  display: block;
  margin: 0;
  font-family: "Montserrat";
  color: $dark-50;
  font-size: 14px;
  line-height: 18px;
  &::placeholder {
    opacity: 0.5;
  }
  &:hover::placeholder {
    opacity: 0.75;
  }
}
input[type="text"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 1px solid $dark-25;
  border-radius: 4px;
  height: 44px;
  padding: 0px;
  padding: 13px 15px;
}
input:hover,
input:focus {
  color: $dark;
  border-color: $dark-50;
}

legend {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
@import "./checkbox/checkbox-group.scss";
@import "./button/button.scss";
@import "./text/text.scss";
@import "./dropdown/dropdown.scss";
@import "./radio/radio.scss";
@import "./toggle/toggle.scss";
@import "./like/like.scss";
@import "./rates/rates.scss";
// @import "./button/button.scss";
