include /components/card-details/card-details.pug
include /components/card-search/card-search.pug
include /components/card-room/card-room.pug
include /components/calendar/calendar.pug

section.cards
  section.cards__column
    section.cards__block
      +cardSearch({})#search-ex-0
    section.cards__block
      //- +cardRegister()#reg-ex-0
  section.cards__column
    section.cards__block
      +cardDetails({})#det-ex-0
    section.cards__block
      //- +cardLogin()#log-ex-0
  section.cards__column
    section.cards__block.cards__datepicker
      +calendar({addInput: false})
    section.cards__block
      +cardRoom()#room-ex-0
      +cardRoom()#room-ex-1