.cards {
  margin: 9.375rem auto 8.75rem auto;
  max-width: 72.5rem;
  //1080px + 40 + 40
  // background-color: rgba(255, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  &__column {
    display: flex;
    flex-direction: column;
    &:nth-child(3) {
      //using this because third column doesn't exist yet
      width: 320px;
    }
    & > * + * {
      margin-top: 2.5rem;
    }
  }
  &__block {
    & > * + * {
      margin-top: 2.5rem;
    }
  }
}
