.radio-group {
  display: flex;
  flex-wrap: wrap;
  //bad?
  padding-bottom: 5px;
  &__row {
    display: flex;
    margin-right: 1.25rem;
    align-items: flex-start;
    &:last-child {
      margin-right: 0;
    }
  }
  &__input {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid $dark-50;
    border-radius: 50%;
    position: relative;
    &:checked::after {
      visibility: visible;
    }
    &::after {
      top: 3px;
      left: 3px;
      content: "";
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      background: $grad-purple;
      border-radius: 50%;
      visibility: hidden;
    }
  }
  &__label {
    padding-left: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  &__name {
    width: 100%;
    margin-bottom: 1rem;
    color: $dark-75;
  }
}
