.header {
  $header-height: 4.375rem;
  @mixin labelLinesDefault {
    & > * {
      box-sizing: border-box;
      transition: 0.25s, opacity 0.4s;
      content: "";
      display: block;
      height: 2px;
      background-color: $dark-25;
      border-radius: 8px;
    }
  }
  @mixin labelLinesOpen {
    & > *:nth-child(1) {
      background-color: $dark;
      transform-origin: top left;
      transform: translate(5px, -1px) rotate(45deg) scaleY(1.5);
    }
    & > *:nth-child(2) {
      transform-origin: right;
      opacity: 0;
      transform: translate(0, 1px) scaleX(0);
    }
    & > *:nth-child(3) {
      box-sizing: border-box;
      background-color: $dark;
      transform-origin: bottom left;
      transform: translate(5px, 1px) rotate(-45deg) scaleY(1.5);
    }
  }
  $unfoldDuration: 0.3s;
  &__menu {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    padding-top: 0;
    // border: 1px solid black;
    overflow: hidden;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    // background: rgba(255, 0, 0, 0.1);
    transition: all $unfoldDuration, border-bottom-left-radius 0.2s, width 0.2s, box-shadow 0.01s;
    background: white;
    &_open {
      transition: all $unfoldDuration, border-bottom-left-radius 0.5s,
        border-bottom-right-radius 0.4s, box-shadow 0.3s 0.3s;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0px 1rem 16px $dark-25;
      height: 384px;
      width: 100%;
      padding: 0;
    }
  }
  &__navigation-trigger {
    &:focus {
      outline: none;
    }
  }
  &__navigation {
    box-sizing: border-box;
    text-align: center;
    right: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_visible {
      height: 100%;
      opacity: 1;
      transition: all 0.3s 0.2s;
    }
  }
  &__navigation-label {
    box-sizing: border-box;
    margin-left: auto;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    // padding: 0.25rem;
    justify-content: space-around;
    cursor: pointer;
    // border: 1px solid rgba(255, 0, 0, 0.1);
    // border-radius: 4px;
    @include labelLinesDefault;
    &:hover > * {
      background-color: $dark-50;
    }
    &_open {
      @include labelLinesOpen;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    &__menu {
      height: auto;
      box-shadow: none;
      overflow: visible;
      width: 100%;
      padding: 0;
      transition: box-shadow 0s;
    }
    // &__navigation-trigger:checked {
    //   ~ .header__navigation {
    //     // transition: 0s;
    //     // transform: none;
    //     // padding: 0;
    //   }
    // }
    &__navigation-trigger {
      display: none;
    }
    &__navigation-label {
      display: none;
    }
    &__navigation {
      opacity: 1;
      flex-direction: row;
      // margin-left: auto;
      // transition: 0s;
      // transform: none;
      // display: flex;
      // opacity: 1;
      // padding: 0;
      // top: $header-height;
      // position: unset;
      // box-shadow: none;
      // display: flex;
      // align-items: flex-end;
      // overflow: visible;
    }
  }
}
