extends ../layout.pug

block content
  include /components/tag-list/tag-list.pug
  include /components/comment/comment.pug
  include /components/bullet-list/bullet-list.pug
  include /components/card-details/card-details.pug

  div.page.page_background_white
    div.details
      div.details__photos
        div.details__photo-wrap.details__photo-wrap_large
          img(src=require("room/image.jpg")).details__photo
        div.details__photo-wrap
          img(src=require("room/image-1.jpg")).details__photo
        div.details__photo-wrap
          img(src=require("room/image-2.jpg")).details__photo

      div.container
        div.details__content
          div.details__about-tags
            div
              h2.details__block-heading Сведения о номере 
              +tagList()
          div.details__about-impressions
            div
              h2.details__block-heading Впечатления
              p диаграмма!!
          div.details__about-comments
            div
              div.details__comments-heading
                h2.details__block-heading Отзывы посетителей номера
                span 2 отзыва
              div.details__comments
                +comment().details__comment
                +comment().details__comment
          div.details__rules
            div
              h2.details__block-heading Правила
              +bulletList()
          div.details__cancellation
            div
              h2.details__block-heading Отмена
              p текст
          div.details__card
            div
              +cardDetails()