@import "./vars.scss";
.logo {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 0.75rem;
  align-items: center;
  width: 110px;
  &__image {
    height: 2.5rem;
    width: 2.5rem;
  }
  &__text {
    width: 3.375rem;
    height: 0.875;
  }
}
