mixin likes(name, id, value = 0, isChecked = false)
  //-put base element in a separate class/mixin
  .likes
    input(id=id name=id, type="checkbox", checked=isChecked).likes__input.rounded-rectangle
    label(for=id).likes__label= value
