.likes {
  display: block;
  position: relative;
  width: 40px;
  &__input {
    //this is a common part
    transition: 0.1s;
    &:checked {
      &::after {
        content: "favorite";
        background: $grad-purple;
        background-clip: text;
        -webkit-background-clip: text;
      }
      & + label {
        color: $purple;
      }
    }
    &::after {
      transition: 0.08s ease-out;
      //or 3px
      // border: 1px solid black;
      font-family: "Material Icons";
      content: "favorite_border";
      position: absolute;
      font-size: 10px; //this
      line-height: 8px; //this
      top: 30%;
      right: 64%;
      width: 1em;
      text-align: center;
      background: linear-gradient($dark-25, $dark-25);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
  &__label {
    right: 0px;
    top: 4px;
    text-align: left;
    width: 20px;
    margin: auto;
    position: absolute;
    font-size: 10px;
    line-height: 12px;
  }
}
