include ../inputs/like/like.pug

mixin comment({author, date, likes, text})
  div.comment
    .comment__heading
      img(src=require("icons/" + author.icon)).comment__icon
      div
        p.comment__author= author.name
        p.comment__date= date

    .comment__body
      .comment__likes
        +like("name", "id", 12, true)
      p.comment__text= text
