@use "./vars" as *;

.card {
  box-sizing: border-box;
  //15px at 320px vw
  // padding: min(100%);
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  &__form {
    //15-30px for 320-380px
    padding: 0 max(15px, min(50% - 135px, 30px));
    & > *:nth-last-child(n + 2) {
      margin-bottom: 20px;
    }
  }
  &__form-heading_compound {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__form-field {
    &:nth-last-child(n + 2) {
      margin-bottom: 20px;
    }
    &_separated {
      display: flex;
      & > *:nth-last-child(n + 2) {
        //10px at 320px vw
        margin-right: max(10px, min((50% - 120px) / 2, 20px));
      }
    }
  }
  &__form-submit {
    height: 44px;
    &_big-margin {
      margin-top: 30px;
    }
  }
  &__account {
    margin-top: 30px;
    display: flex;
    height: 44px;
    flex-wrap: wrap;
    align-items: center;
    & > *:first-child {
      flex-basis: 69%;
    }
    & > *:last-child {
      flex-basis: 31%;
      align-self: stretch;
    }
  }
}
.room-info {
  &__number {
    line-height: 1.5rem;
  }
  &__no {
    font-size: 14px;
    line-height: 17px;
  }
  &__type {
    margin-left: 8px;
    @include h3($purple, bold);
  }
  &__price {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: $dark-50;
    // @include h3($dark-25);
  }
  &__per-day {
    @include h3($dark-25, normal, none);
    // font-size: 12px;
  }
}
