include ../lists/lists.pug
include ../compound-heading/compound-heading.pug
include ../inputs.pug

- var summaryList = [
- {
-   key:" 9 990₽ х 4 суток",
-   value: "39 960₽",
-   iconVisible: false,
-   class: "price",
- },
- {
-   key: "Сбор за услуги: скидка 2 179₽",
-   value: "0₽",
-   iconVisible: true,
-   class: "services",
- },
- {
-   key: "Сбор за дополнительные услуги",
-   value: "300₽",
-   iconVisible: true,
-   class: "additional services"
- }];
- var total = {
-  key: "Итого", 
-  value: "38 081Р",
-};


- var typesOfGuests = [
- {name: "взрослые", value: "0"},
- {name: "дети", value: "0"},
- {name: "младенцы", value: "0"}];

//- mixin dropdown(id, {type, label, placeholder, menuItems, state, isClearable = true})


//- //- mixin dropdown(id, {type, label, placeholder, menuItems, state, isClearable = true})



//- mixin cardRegister({id = "registration"} = {id: "registration"})
//-   - var id = attributes.id
//-   .card
//-     form.card__form
//-       h1.card__form-heading Регистрация аккаунта
//-       ul.card__form-elements
//-         li.card__form-field
//-           +text({placeholder: "Имя"})(id="first-name")
//-         li.card__form-field
//-           +text({placeholder: "Фамилия"})(id="last-name")
//-         li.card__form-field
//-           - var defaultRadios = [{label: "Мужчина", id: "male"}, {label: "Женщина", id: "female"}]
//-           +radioGroup({radios: defaultRadios, key: "gender"})
//-       section.card__form-elements
//-         p.card__form-field
//-           +dropdown({type: "date-single", label: "Дата рождения", placeholder: "ДД.ММ.ГГГГ"})(id=id+"-dateOfBirth")
//-       fieldset.card__form-elements
//-         legend.controls-label Данные для входа в сервис
//-         li.card__form-field
//-           +text({placeholder: "Email"})(id="email")
//-         li.card__form-field
//-           +text({placeholder: "Пароль"})(id="password")
//-         li.card__form-field
//-           - var defaultToggles = [{id: "receive-offers", label: "Получать спецпредложения" }]
//-           +toggleGroup({toggles: defaultToggles})
//-       section.card__form-submit
//-         +button({label: "Перейти к оплате", styles: ["with-arrow"]})
//-       +account(true)


//-   //- id, type, label, placeholder, ...classes)
//- mixin cardLogin()
//-   .card
//-     form.card__form
//-       h1.card__form-heading Войти
//-       ul.card__form-elements
//-         li.card__form-field
//-           +text({placeholder: "Email"})(id="email")
//-         li.card__form-field
//-           +text({placeholder: "Пароль"})(id="password")
//-       p.card__form-submit
//-         +button({label: "Войти", styles: ["with-arrow"]})
//-       +account(false)



//- mixin account(exists)
//-   section.card__account
//-     - let accountStatusText = exists ? "Уже есть аккаунт на Toxin?" : "Нет аккаунта на Toxin?"
//-     - let buttonLabel = exists ? "Войти" : "Создать"
//-     p= accountStatusText
//-     +button({label: buttonLabel, styles: ["outlined"]})(type="button")

