@use "./vars" as *;

.card {
  box-sizing: border-box;
  //15px at 320px vw
  // padding: min(100%);
  min-width: 20rem;
  max-width: 23.75rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  .form {
    //15-30px for 320-380px
    padding: 0 max(15px, min(50% - 145px, 30px));
    padding-top: 2.5rem;
    padding-bottom: 1.875rem;
    &__field {
      margin-top: 1.25rem;
      &_separated {
        display: flex;
        & > *:nth-last-child(n + 2) {
          //10px at 320px vw
          margin-right: max(10px, min((50% - 120px) / 2, 20px));
        }
      }
    }
    &__submit {
      margin-top: 1.5rem;
      height: 2.75rem;
    }
  }
}
