extends ../layout.pug

block content
  include /components/card/card.pug
  include /components/card-search/card-search.pug
  main.page.page_with-bg
    .container
      .index
        .index__search
          +cardSearch({id: "search"})
        .index__text