@use "vars.scss" as *;

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.eot");
  src: url("../assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../assets/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.eot");
  src: url("../assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("../assets/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../assets/fonts/Montserrat-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Montserrat, Arial, sans-serif;
}
body {
  margin: 0;
  background-color: $white;
  @include body($dark-50);
}
p {
  color: $dark-75;
  margin: 0;
}
img {
  max-width: 100%;
}
span,
h1,
h2,
h3,
ul,
img {
  padding: 0;
  margin: 0;
}
button {
  appearance: none;
  border: none;
}

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
  &.label {
    color: $dark;
  }
  .cta {
    &_white {
      color: #fff;
    }
  }
}

li {
  list-style: none;
}

a,
.link {
  display: block;
  padding: 4px 0px;
  margin: 6px 0px;
  text-decoration: none;
  color: inherit;
  // color: $dark-50;
  white-space: nowrap;
  @if $display-grid!=0 {
    background-color: rgba(255, 0, 255, 0.05);
  }
}
a:hover {
  text-decoration: line-through;
}
a:active {
  text-decoration: line-through;
}
body > * {
  @if $display-grid!=0 {
    // background-color: rgba(255, 0, 0, 0.1);
  }
  & > * {
    @if $display-grid!=0 {
      background-color: rgba(0, 0, 255, 0.1);
    }
    & > * {
      @if $display-grid!=0 {
        background-color: rgba(0, 255, 0, 0.1);
      }
      & > * {
        @if $display-grid!=0 {
          // background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

// @import "./details/details";
//inputs common
@import "../components/inputs.scss";

@import "../components/button/button.scss";
@import "../components/checkbox/checkbox-group.scss";
@import "../components/text/text.scss";
@import "../components/dropdown/dropdown.scss";
@import "../components/radio/radio.scss";
@import "../components/toggle/toggle.scss";
@import "../components/like/like.scss";
@import "../components/rates/rates.scss";
@import "../components/calendar/calendar.scss";
@import "../components/pagination/pagination.scss";

@import "../components/logo/logo";
@import "../components/header/header";
@import "../components/footer/footer.scss";

@import "../components/card-room/card-room.scss";
@import "../components/card-details/card-details.scss";
@import "../components/card-search/card-search.scss";
@import "../components/card-account/card-account.scss";

@import "../components/compound-heading/compound-heading";
@import "../components/comment/comment.scss";

@import "../components/bullet-list/bullet-list.scss";
@import "../components/tag-list/tag-list.scss";
//change these
@import "../components/lists/summary-list/summary-list";
@import "../components/lists/links-list/links-list";

//pages
@import "./layout.scss";
@import "./index/index";
@import "./search/search.scss";
@import "./details/details";
@import "./account/account.scss";
