doctype html 
html(lang="ru")
  head
    //connect fonts
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")

  body
    block header
      include ../components/header/header.pug
    block content
    block footer 
      include ../components/footer/footer.pug