include ../components/input/input.pug
include ../components/pagination/pagination.pug
include ../components/card/card.pug
include ../components/lists/lists.pug
include ../components/comment/comment.pug