
include /components/inputs/inputs.pug
include /components/card/card.pug

include /components/pagination/pagination.pug
include /components/lists/lists.pug
include /components/comment/comment.pug
include /components/room-card/room-card.pug