
.ui-kit-elements
  //- .ui-kit-elements__header-footer
  //-   include ../components/header/header.pug
  //-   include ../components/footer/footer.pug

  .ui-kit-elements__cards
    .ui-kit-elements__cards-col
      include ../components/search/search.pug
      include ../components/search/search.pug
    .ui-kit-elements__cards-col
      include ../components/search/search.pug
      include ../components/search/search.pug
    .ui-kit-elements__cards-col
      include ../components/search/search.pug
      include ../components/search/search.pug
      include ../components/search/search.pug




//include ../components/card/card.pug