-  let items = [
-  {name: "Спальни", value: 2},
-  {name: "Кровати", value: 2},
-  {name: "Ванные комнаты", value: 0}]

-  let guestsEmpty = [
-  {name: "Взрослые", value: 0},
-  {name: "Дети", value: 0},
-  {name: "Младенцы",value: 0}]

-  let guests = [
-  {name: "Взрослые", value: 2  },
-  {name: "Дети", value: 1},
-  {name: "Младенцы", value: 0}]

- let bulletList = {
-  name: "bullet list",
-  items: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
-}

- let tagList = [
-  {
-    icon: "comfort",
-    label: "Комфорт",
-    description: "Шумопоглощающие стены"
-  },
-  {
-    icon: "convenience",
-    label: "Удобство",
-    description: "Окно в каждой из спален"
-  },
-  {
-    icon: "cosiness",
-    label: "Уют",
-    description: "Номер оснащён камином"
-  }
-]

- let commentData = {
-   author: {
-   name: "Мурад Сарафанов",
-   icon: "comment-1.jpg"
- },
-   date: "5 дней назад",
-   likes: 12,
-   text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
- }

-  let uiRichCheckboxes = [
-  {
-  label: "широкий коридор", 
-  desc: "Ширина коридоров в номере не менее 91 см.",
-  id: "123"
-  },
-  {
-  label: "помощник для инвалидов", 
-  desc: "На 1 этаже вас встретит специалист  и проводит до номера.",
-  id: "456"
-  }]

- let uiExpandableCheckboxes = [
-   {
-     label: "Завтрак", 
-     id: "exp_1"
-    }, 
-    {
-     label: "Письменный стол", 
-     id: "exp_2"
-    }, 
-    {
-     label: "Стул для кормления", 
-     id: "exp_3"
-    }, 
-    {
-     label: "Кроватка", 
-     id: "exp_4"
-    }, 
-    {
-     label: "Телевизор", 
-     id: "exp_5"
-    }, 
-    {
-     label: "Шампунь", 
-     id: "exp_6"
-    }]

- let uiRegularCheckboxes = [
-  {
-    label: "Можно курить", 
-    id: "smoking_allowed"
-  },
-  {
-    label: "Можно с питомцами", 
-    id: "pets_allowed"
-  },
-  {
-    label: "Можно пригласить гостей (до 10 человек)", 
-    id: "guests_allowed"
-  }
-]

- class Button {
-   label = "";
-   styles = [];
-   isDisabled = false;
-   constructor(label, styles = [], isDisabled = false) {
-     this.label = label;
-     this.styles = styles;
-     this.isDisabled = isDisabled;
-   }
- }