$dark: #1f2041;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-05: rgba(31, 32, 65, 0.05);

$purple: #bc9cff; //primary
$blue: #8ba4f9;
$green: #6fcf97; //secondary

$grad-purple: linear-gradient(180deg, $purple 0%, $blue 100%);
$grad-green: linear-gradient(180deg, $green 0%, $blue 100%);