$display-grid: 0;
$dark: #1f2041;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-10: rgba(31, 32, 65, 0.1);

$dark-05: rgba(31, 32, 65, 0.05);

$purple: #bc9cff; //primary
$blue: #8ba4f9;
$green: #6fcf97; //secondary
$turquoise: #66d2ea;
$grad-purple: linear-gradient(180deg, $purple 0%, $blue 100%);
$grad-green: linear-gradient(180deg, $green 0%, $turquoise 100%);

$breakpoint-first: 960px;
$breakpoint-second: 768px;

@mixin h1($color: $dark, $weight: bold, $transform: none) {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: $color;
  font-weight: $weight;
  text-transform: $transform;
}
@mixin h2($color: $dark, $weight: bold, $transform: none) {
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  color: $color;
  font-weight: $weight;
  text-transform: $transform;
}
@mixin h3($color: $dark, $weight: bold, $transform: uppercase) {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: $color;
  font-weight: $weight;
  text-transform: $transform;
}
@mixin body($color: $dark, $weight: normal, $transform: none) {
  font-size: 0.875rem;
  line-height: 1.5rem; //or 171%
  font-weight: $weight;
  color: $color;
  text-transform: $transform;
}
// @mixin setFont($color, $size, $height, $weight, $up: 0) {
//   font-size: $size;
//   line-height: $height;
//   @if $up != 0 {
//     text-transform: uppercase;
//   }
//   @include fontStyle($color, $weight);
// }
