@use "sass:math";
@use "./vars" as *;

@media screen and (max-width: 630px) {
  .header__body {
    grid-template-areas:
      "logo"
      "nav"
      "buttons";
    // grid-template-columns: 320px;
    grid-template-rows: 50px 1fr 50px;
    .inline-links {
      justify-content: center;
    }
  }
}

@media screen and (min-width: $breakpoint-second) {
  .header__body {
    grid-template-areas:
      "logo nav"
      "buttons buttons";
    gap: 0 0px;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 60px 50px;
    .inline-links {
      justify-content: center;
    }
  }
}
@media screen and (min-width: $breakpoint-first) {
  .header__body {
    grid-template-areas: "logo nav buttons";
    gap: 20px;
    grid-template-columns: 110px 2fr 303px;
    grid-template-rows: 70px;
    .inline-links {
      justify-content: flex-end;
    }
  }
}
.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px $dark-05;
  width: 100%;
  position: relative;
  z-index: 10;
  &__body {
    display: grid;
    align-items: center;
  }
  &__logo {
    grid-area: logo;
    width: 110px;
    padding: auto;
    margin: auto;
  }
  &__buttons {
    grid-area: buttons;
    margin: auto;
    display: flex;
    align-items: stretch;
    height: 34px;
    width: 100%;
    max-width: 303px;
  }
  &__login {
    flex: 0.56;
    margin-right: 20px;
  }
  &__signup {
    flex: 1.3;
  }
}
