header.header
  //- тут нужно сделать сетку и разместить все эти элементы в строке
  include ../logo/logo.pug
  ul.inline-list
    li.inline-list__item О нас
    li.inline-list__item Услуги
      ul.d-none
        li 1
        li 2
        li 3
    li.inline-list__item Вакансии
    li.inline-list__item Новости
    li.inline-list__item Соглашения
      ul.d-none
        li 1
        li 2
        li 3
  button Войти
  button Зарегистрироваться