
//- //listItem("Label", "Items inside sublist as array", ...any additional mods)
include ../inputs/button/button.pug
include ../lists/links-list/links-list.pug
//- //- mixin listItem(label, items, ...classes)
//- //-   - var list_c = classes.map(x => `inline-list__item_${x}`)
//- //-     li(class=["inline-list__item", ...list_c])
//- //-       a(href="#")= label
//- //-       if (items)
//- //-         ul.dropdown-list
//- //-           //review these guys
//- //-           each item in items
//- //-             li.dropdown-list__item
//- //-               a= item
//- include /views/mixins.pug
- var links = [
-   {
-     label: "О нас",
-     link: "#",
-     isList: false
-   },
-   {
-     label: "Услуги",
-     link: "",
-     isList: true,
-     items: [ 
-       {
-         label: "услуга 1",
-         link: "#"
-       },
-       {
-         label: "услуга 2",
-         link: "#"
-       },
-       {
-         label: "услуга 3",
-         link: "#"
-       }]
-   },
-   {
-     label: "Вакансии",
-     link: "#",
-     isList: false
-   },
-   {
-     label: "Новости",
-     link: "#",
-     isList: false
-   },
-   {
-     label: "Соглашения",
-     link: "",
-     isList: true,
-     items: [ 
-       {
-         label: "согл 1",
-         link: "#"
-       },
-       {
-         label: "согл 2",
-         link: "#"
-       },
-       {
-         label: "согл 3",
-         link: "#"
-       }]
-   }
- ]





header.header
  .container
    .header__body
      .header__logo
        include ../logo/logo.pug
        //- could make this a block component but it'll be overcomplicated
      nav.header__navigation
        +inline-links(links)
      .header__buttons
        .header__login
          +button({label: "Войти", styles: ["outlined"]})
        .header__signup
          +button({label: "Зарегистрироваться"})




//- script. 
//-   let list = document.querySelector(".dropdown-list_closed");
//-   list.addEventListener("click", (e)=>{
//-     list.classList.toggle(".dropdown-list_closed");
//-   })