
//- //listItem("Label", "Items inside sublist as array", ...any additional mods)
include /components/button/button.pug
include /components/links-list/links-list.pug

- var links = [
-   {label: "О нас",  link: "#" },
-   {label: "Услуги", link: "", items: 
-     [ 
-       {label: "проживание в номере", link: "#" },
-       {label: "питание", link: "#" },
-       {label: "развлекательные и восстановительные услуги", link: "#"},
-       {label: "обмен валюты", link: "#" },
-       {label: "продажа сувенирной и печатной продукции", link: "#" },
-     ]},
-   {label: "Вакансии", link: "#"},
-   {label: "Новости",  link: "#"},
-   {label: "Соглашения",link: "#", items: 
-     [ 
-       {label: "Общие положения", link: "#"},
-       {label: "Онлайн бронирование", link: "#"},
-       {label: "Условия получения гарантии заезда", link: "#"},
-       {label: "Онлайн бронирование", link: "#"},
-       {label: "Условия предоставления услуг", link: "#"},
-       {label: "Отмена бронирования", link: "#"},
-       {label: "Контент Пользователя", link: "#"},
-       {label: "Условия использования веб-ресурсов Оператора", link: "#"},
-     ]}]

header.header
  .container
    .header__body
      .header__logo
        include ../logo/logo.pug
      div(tabindex="-1").header__menu
        input(id="header-menu" type="checkbox" checked=true).header__navigation-trigger
        label(tabindex="-1" for="header-menu").header__navigation-label
          span
          span
          span
        nav(tabindex="-1").header__navigation
          +linksList({type: "inline", items: links})
          .header__buttons
            .header__login
              +button({label: "Войти", styles: ["outlined"]})
            .header__signup
              +button({label: "Зарегистрироваться"})