
//- //listItem("Label", "Items inside sublist as array", ...any additional mods)
include ../button/button.pug
include ../lists/links-list/links-list.pug

- var links = [
-   {label: "О нас",  link: "#" },
-   {label: "Услуги", link: "", items: 
-     [ 
-       {label: "услуга 1", link: "#" },
-       {label: "услуга 2", link: "#" },
-       {label: "услуга 3", link: "#"}
-     ]},
-   {label: "Вакансии", link: "#"},
-   {label: "Новости",  link: "#"},
-   {label: "Соглашения",link: "", items: 
-     [ 
-       {label: "согл 1", link: "#"},
-       {label: "согл 2", link: "#"},
-       {label: "согл 3", link: "#"}
-     ]}]

header.header
  .container
    .header__body
      .header__logo
        include ../logo/logo.pug
      div.header__menu
        input(id="header-menu" type="checkbox" checked=false).header__navigation-trigger
        label(for="header-menu").header__navigation-label menu
        nav.header__navigation
          +inline-links(links)
          .header__buttons
            .header__login
              +button({label: "Войти", styles: ["outlined"]})
            .header__signup
              +button({label: "Зарегистрироваться"})