include /components/inputs/button/button.pug

mixin calendar({} = {})
  div.calendar-input
    input(type="text")#calendar
    +button({label: "очистить", styles: ["text"]})
    +button({label: "применить", styles: ["text"]})