@use "vars" as *;

.footer {
  background: white;
  &__bottom {
    border-top: 1px solid white;
  }

  &__menu {
    display: none;
  }
  &__logo-icon {
    margin-bottom: 20px;
  }
  &__logo-caption {
    display: none;
  }
  &__subscription {
    display: none;
  }
  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    &_top {
      height: 11.4375rem;
      justify-content: flex-end;
    }
    // height: 70px;
    &_bottom {
      height: 11.4375rem;
      justify-content: flex-start;
      gap: 20px;
    }
  }
  &__social-icons {
    height: 1.375rem;
    & > * {
      display: inline-block;
    }
    & > * + * {
      margin-left: 1.25rem;
    }
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .footer {
    &__logo {
      max-width: 260px;
    }
    &__logo-caption {
      display: block;
    }
    &__menu {
      max-width: 160px;
      display: block;
    }
    &__menu-label {
      margin-bottom: 1.25rem;
    }
    &__subscription {
      display: block;
      max-width: 260px;
    }
    &__bottom {
      border: 1px solid $dark-25;
    }
    &__content {
      text-align: left;
      &_top {
        padding-top: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 372px;
      }
      &_bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
      }
    }
  }
}
