mixin text({type, label, placeholder})
  - var id = attributes.id || "default"
  - var classes = attributes.class || ""
  //- - if (type === "subscription") classes.push("1")
  //- subscription field just has a button inside
  div(class="text-field " + classes)
    if (label)
      label(for=id, class="text-field__label").controls-label= label
    //- probably I shoud use text anyway
    input(id=id, type="text", name=id, placeholder=placeholder).text-field__input
    if (type === "subscription")
      div.text-field__subscription-button sub
      //- button()