@use "vars" as *;
.rates {
  display: flex;
  font-family: "Material Icons";
  text-align: center;
  color: $purple;
  max-width: 7.5rem;
  &__star {
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1.5rem;
    width: 1.5rem;
  }
  &__star_hovered {
    transform: scale(1.15);
  }
}
