mixin summary({items, total})
  ul.summary-list
    each item in items
      li.summary-list__item
        span.summary-list__key= item.key
        p.summary-list__icon
        p.summary-list__value= item.value
  li.summary-list__total
    h2.summary-list__total-key= total.key
    p.summary-list__total-break &nbsp;
    h2.summary-list__total-value= total.value