@use "vars" as *;
.search {
  &__filters {
    width: 100%;
    box-sizing: border-box;
    padding: 0;

    position: fixed;
    bottom: 0;

    z-index: 2;
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow-y: hidden;

    width: 80px;
    height: 80px;
    border-radius: 100%;

    margin-left: 1rem;
    margin-bottom: 1rem;

    transition: 0.5s, margin 0.3s, height 0.3s, width 0.3s, border-radius 0.4s, box-shadow 0.1s;
    max-width: 386px;

    &_open {
      transition: 0.5s, margin 0.3s, height 0.3s, width 0.3s, border-radius 0.4s, box-shadow 0.3s,
        padding 0.2s;
      overflow-y: scroll;
      padding: 5.1724%;
      // padding-bottom: 30px;
      border-radius: 4px;
      width: 100%;
      height: 85vh;
      margin-left: 0;
      margin-bottom: 0;
    }
    // display: none;
    &-toggle {
      outline: none;
      &:focus {
        outline: none;
      }
    }
    &-toggle-label {
      user-select: none;
      font-family: "Material Icons";
      vertical-align: middle;
      height: 80px;
      opacity: 1;
      line-height: 80px;
      font-size: 40px;
      cursor: pointer;
      align-self: center;
      border: 2px solid transparent;
      color: $dark-75;
      // border: 1px solid black;
      transition: all 0.3s 0.1s, opacity 0.1s, border 0.2s;
      &_open {
        transition: all 0.3s 0.1s, opacity 0.1s, border 0.2s 0.3s;
        color: $dark;
        border-color: $dark-50;
        border-radius: 100%;
        padding: 20px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      opacity: 0;
      height: 0;
      // display: none;
      transition: opacity 0.2s;
      overflow-y: hidden;
      transition: opacity 0.5s 0.3s;
      &_visible {
        height: auto;
        transition: opacity 0.5s 0.3s;
        overflow-y: visible;
        opacity: 1;
        display: block;
      }
    }
  }

  &__filter {
    & + * {
      margin-top: 30px;
    }
    &_separated {
      & > * + * {
        margin-top: 20px;
      }
    }
  }

  // @media screen and (min-width: $breakpoint-tablet) {
  //   &__filters {
  //   }
  //   &__filter {
  //     & + * {
  //     }
  //     &_separated {
  //     }
  //   }
  // }
  @media screen and (min-width: $breakpoint-desktop) {
    flex-direction: row;
    &__filters {
      width: 100%;
      min-width: 240px;
      //266px + 60px*2 (padding)
      height: auto;
      border-radius: 0;
      padding-top: 0;
      box-shadow: none;
      position: relative;
      margin-left: 0;
      padding: 5.1724%;
      transition: opacity 0s, border-radius 0s;
      &-toggle-label {
        border-color: transparent;
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
      }
      &-container {
        transition: opacity 0s, border-radius 0s;
        display: flex;
        opacity: 1;
        overflow: visible;
        height: auto;
      }
    }
  }
}
