extends ../layout.pug

//- mixin dropdown(id, {type, label, placeholder, menuItems, state, isClearable = true})
include /components/inputs/dropdown/dropdown.pug
block content
  -  let uiRichCheckboxes = [
  -  {
  -  label: "широкий коридор", 
  -  desc: "Ширина коридоров в номере не менее 91 см.",
  -  id: "123"
  -  },
  -  {
  -  label: "помощник для инвалидов", 
  -  desc: "На 1 этаже вас встретит специалист  и проводит до номера.",
  -  id: "456"
  -  }]

  - let uiExpandableCheckboxes = [
  -   {
  -     label: "Завтрак", 
  -     id: "exp_1"
  -    }, 
  -    {
  -     label: "Письменный стол", 
  -     id: "exp_2"
  -    }, 
  -    {
  -     label: "Стул для кормления", 
  -     id: "exp_3"
  -    }, 
  -    {
  -     label: "Кроватка", 
  -     id: "exp_4"
  -    }, 
  -    {
  -     label: "Телевизор", 
  -     id: "exp_5"
  -    }, 
  -    {
  -     label: "Шампунь", 
  -     id: "exp_6"
  -    }]

  - let uiRegularCheckboxes = [
  -  {
  -    label: "Можно курить", 
  -    id: "smoking_allowed"
  -  },
  -  {
  -    label: "Можно с питомцами", 
  -    id: "pets_allowed"
  -  },
  -  {
  -    label: "Можно пригласить гостей (до 10 человек)", 
  -    id: "guests_allowed"
  -  }
  -]
  include /components/room-card/room-card.pug
  include /components/card/card.pug
  main.page-content
    .container
      .page-content__room-search
        .page-content__room-search-filters
          include /views/variables.pug
          +dropdown("date", {label: "Дата пребывания в отеле", placeholder: "19 авг - 23 авг"})
          +dropdown("guests", {label: "Гости", placeholder: "19 авг - 23 авг"})
          //- +range
            checkboxGroup({name, checkboxes, isNamed = false, isExpandable = false, isRich = false, isClosed = true})
          +checkboxGroup({name: "Правила дома", checkboxes: uiRegularCheckboxes, isNamed: true})
          +checkboxGroup({
            name: "Доступность", 
            checkboxes: uiRichCheckboxes,
            isNamed: true,
            isRich: true,
            isClosed: false
            })
          +dropdown("convenience", {label: "удобства номера", placeholder: "2 спальни, 2 кровати..."})
          +checkboxGroup({name: "дополнительные удобства", isNamed: true, checkboxes: [], isExpandable: true, isClosed: true})
          //- p= uiRegularCheckboxes[0].label
          //- +checkboxGroup({})
          //- +checkboxGroup({})
        .page-content__room-search-results
          h2.page-content__results-heading Номера, которые мы для вас подобрали
          .page-content__room-list
            +roomCard({id: "room-1"})
            +roomCard({id: "room-2"})
            +roomCard({id: "room-3"})
            +roomCard({id: "room-4"})
            +roomCard({id: "room-5"})
            +roomCard({id: "room-6"})
            +roomCard({id: "room-7"})
            +roomCard({id: "room-8"})
            +roomCard({id: "room-9"})
            +roomCard({id: "room-10"})
          .page-content__pagination