@use "vars" as *;
.search {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transform: all 1s;
  padding-top: 30px;

  @media screen and (min-width: $breakpoint-desktop) {
    flex-direction: row;
  }
  &__results {
    width: 100%;
  }
  &__results-heading {
    margin-bottom: 1.25rem;
  }
  &__rooms {
    display: grid;
    gap: 20px 12px;

    &_grid_large {
      grid-template-columns: repeat(3, minmax(14.375rem, auto));
    }
    &_grid_medium {
      grid-template-columns: repeat(2, minmax(14.375rem, auto));
    }
    &_grid_small {
      justify-items: center;
      grid-template-columns: repeat(1, minmax(14.375rem, auto));
    }
  }
  &__pagination {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}
@import "./__filters/__filters";
