extends ../layout.pug

//- mixin dropdown(id, {type, label, placeholder, menuItems, state, isClearable = true})
include /components/inputs/dropdown/dropdown.pug
block content
  -  let uiRichCheckboxes = [
  -  {
  -  label: "широкий коридор", 
  -  desc: "Ширина коридоров в номере не менее 91 см.",
  -  id: "123"
  -  },
  -  {
  -  label: "помощник для инвалидов", 
  -  desc: "На 1 этаже вас встретит специалист  и проводит до номера.",
  -  id: "456"
  -  }]

  - let uiExpandableCheckboxes = [
  -   {
  -     label: "Завтрак", 
  -     id: "exp_1"
  -    }, 
  -    {
  -     label: "Письменный стол", 
  -     id: "exp_2"
  -    }, 
  -    {
  -     label: "Стул для кормления", 
  -     id: "exp_3"
  -    }, 
  -    {
  -     label: "Кроватка", 
  -     id: "exp_4"
  -    }, 
  -    {
  -     label: "Телевизор", 
  -     id: "exp_5"
  -    }, 
  -    {
  -     label: "Шампунь", 
  -     id: "exp_6"
  -    }]

  - let uiRegularCheckboxes = [
  -  {
  -    label: "Можно курить", 
  -    id: "smoking_allowed"
  -  },
  -  {
  -    label: "Можно с питомцами", 
  -    id: "pets_allowed"
  -  },
  -  {
  -    label: "Можно пригласить гостей (до 10 человек)", 
  -    id: "guests_allowed"
  -  }
  -]
  include /components/card-room/card-room.pug
  include /components/card/card.pug
  include /components/pagination/pagination.pug
  main.page-content
    .container
      .page-content__room-search
        .page-content__room-search-filters
          include /views/variables.pug
          +dropdown("date", {label: "Дата пребывания в отеле", placeholder: "19 авг - 23 авг"})
          +dropdown("guests", {label: "Гости", placeholder: "19 авг - 23 авг"})
          //- +range
            checkboxGroup({name, checkboxes, isNamed = false, isExpandable = false, isRich = false, isClosed = true})
          +checkboxGroup({name: "Правила дома", checkboxes: uiRegularCheckboxes, isNamed: true})
          +checkboxGroup({
            name: "Доступность", 
            checkboxes: uiRichCheckboxes,
            isNamed: true,
            isRich: true,
            isClosed: false
            })
          +dropdown("convenience", {label: "удобства номера", placeholder: "2 спальни, 2 кровати..."})
          +checkboxGroup({name: "дополнительные удобства", isNamed: true, checkboxes: [], isExpandable: true, isClosed: true})
          //- p= uiRegularCheckboxes[0].label
          //- +checkboxGroup({})
          //- +checkboxGroup({})
          //- mixin roomCard({id = "room", roomInfo = { number: "888", type: true, price: "8500Р", nReviews: "145"} } = {id: "room"})
        .page-content__room-search-results
          h2.page-content__results-heading Номера, которые мы для вас подобрали
          .page-content__room-list
            +cardRoom({id: "room-1",  roomInfo: {img: "room-0.jpg",  number: "840", type: false, price: "9900", nReviews: "65"}})
            +cardRoom({id: "room-2",  roomInfo: {img: "room-1.jpg",  number: "840", type: false, price: "9900", nReviews: "65"}})
            +cardRoom({id: "room-3",  roomInfo: {img: "room-2.jpg",  number: "980", type: false, price: "8500", nReviews: "35"}})
            +cardRoom({id: "room-4",  roomInfo: {img: "room-3.jpg",  number: "856", type: false, price: "7300", nReviews: "19"}})
            +cardRoom({id: "room-5",  roomInfo: {img: "room-4.jpg",  number: "740", type: false, price: "6000", nReviews: "44"}})
            +cardRoom({id: "room-6",  roomInfo: {img: "room-5.jpg",  number: "982", type: false, price: "5800", nReviews: "56"}})
            +cardRoom({id: "room-7",  roomInfo: {img: "room-6.jpg",  number: "678", type: false, price: "5500", nReviews: "45"}})
            +cardRoom({id: "room-8",  roomInfo: {img: "room-7.jpg",  number: "450", type: false, price: "5300", nReviews: "39"}})
            +cardRoom({id: "room-9",  roomInfo: {img: "room-8.jpg",  number: "350", type: false, price: "5000", nReviews: "77"}})
            +cardRoom({id: "room-10", roomInfo: {img: "room-9.jpg",  number: "666", type: false, price: "5000", nReviews: "25"}})
            +cardRoom({id: "room-10", roomInfo: {img: "room-10.jpg", number: "444", type: false, price: "5000", nReviews: "15"}})
            +cardRoom({id: "room-10", roomInfo: {img: "room-11.jpg", number: "352", type: false, price: "5000", nReviews: "55"}})
          .page-content__pagination
            +pagination()