@use "vars" as *;
.page-content {
  &__room-search {
    @if ($display-grid!=0) {
      background: rgba(255, 0, 0, 0.1);
    }
    padding-top: 30px;
    padding-bottom: 70px;
    display: flex;

    &-filters {
      @if ($display-grid!=0) {
        background: rgba(127, 255, 127, 0.1);
      }
      margin-right: 5%;
      width: 23%;
      max-width: 266px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      & > *:nth-last-child(n + 2) {
        margin-bottom: 20px;
      }
    }
    &-results {
      width: 72%;
      // border: 1px solid blue;
      //content won't fall out of the parent
      height: 100%;
    }
  }

  &__room-list {
    padding-top: 20px;
    // background: rgba(0, 0, 255, 0.1);
    max-width: 835px;
    height: 100%;
    // display: grid;
    display: flex;
    // grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @if ($display-grid!=0) {
      background: rgba(0, 255, 0, 0.1);
    }
  }
}
