@use "./vars" as *;
.tag-list {
  &__item {
    display: flex;
    padding-top: 20px;
    &:nth-last-child(n + 2) {
      border-bottom: 2px solid $dark-10;
      padding-bottom: 17px;
    }
  }
  &__icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
    line-height: 48px;
    color: black;
    &::before {
      background: $grad-purple;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-weight: bold;
    color: $dark-75;
    text-transform: capitalize;
  }
  &__description {
  }
}
